.navbar {
    display: "flex";
    justify-content: "space-around";
    align-items: "center";
}

.link {
    margin: 0px 20px;
}

.container {
    width: 800px;
    border: 1px solid black;
    padding: 20px;
}

form {
    width: 350px;
    text-align: left;
}

.fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid black;
}

.error {
    color: red;
    text-shadow: 0.5px 0.5px 1px black;
}